@model IEnumerable<PropertyManagement.Models.Properties.PropertyDetail>

@{
    ViewBag.Title = "Properties";
}

<h2>Our Properties</h2>

<p>
    @Html.ActionLink("Create New Property", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <div id="showmodaledit" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @{Html.RenderPartial("Edit", item);}
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <button id='open' data-toggle="modal" data-target="#showmodaledit">Edit</button> |

                <div id="showmodaldetail" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @{Html.RenderPartial("Details", item);}
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <button id='open' data-toggle="modal" data-target="#showmodaldetail">Details</button> |

                <div id="showmodaldelete" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @{Html.RenderPartial("Delete", item);}
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <button id='open' data-toggle="modal" data-target="#showmodaldelete">Delete</button>
            </td>
        </tr>
    }
</table>